.popup__close {
    position: absolute;
    max-width: 40px;
    top: -35px;
    right: -35px;
    cursor: pointer;
}

.popup__close:hover {
    opacity: 0.6;
    transition: opacity 0.2s linear;
}

@media screen and (max-width: 400px) {
    .popup__close {
        right: 0;
        top: -40px;
    }
}